header{
    background-image: url(..\..\assets\fondos\fondo_poker.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
h1{
    color: rgb(77, 75, 16);
}
button{
    width: 45%;
    background-color: rgb(77, 75, 16);
    color: black;
}

form{
    border-radius: 10px;
    background-color: rgba(27, 26, 25, 0.7);
    backdrop-filter: blur(1px);
}
.valid{
    border: 2px solid green;
}
.invalid{
    border: 2px solid red;
}