<header>
    <div class="container-fluid py-5">
        <div class="container py-5 mx-auto">
            <h1 class="display-1 text-center">21 Black Jack</h1>
        </div>
        <div class="container py-5 mx-auto row">
            <div class="col-12 p-5 mx-auto d-flex justify-content-around">
                <button class="btn" (click)="guardarPartida()">Nuevo Juego</button>
                <button class="btn" (click)=" cerrarSesion()">Cerrar Sesión</button>
              </div>
        </div>
    </div>
</header>


