.entorno{
    min-height: 100vh;
    background-image: url(..\..\assets\fondos\fondo_poker.jpg);
    background-position: center;
    background-size: cover;
    min-height: 100vh;
}
.mesa{
    min-height: 400px;
    height: max-content;
    border-radius: 50px;
    background: linear-gradient(360deg, #112706, #224B0C, #112706);

}
.carta{
    width: 90px;
    height: 120px;
}
